<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    @Styles.Render("~/Content/winstrap",
                    "~/Content/kendoui_notheme", "~/Content/prosody")
    @Scripts.Render("~/bundles/jquery", "~/Scripts/bootstrap", "~/bundles/kendo")
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet">*@
    @*<link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet">*@

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="~/Content/icons/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/icons/apple-touch-icon-57-precomposed.png">
</head>

<body>
    <div id="head-winstrap">
        <div class="navbar-local color-accent theme-dark">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="icon-hamburger"></i>
                                </button>
                                <a class="navbar-brand" href="#">Brand</a>
                            </div>
                
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                                    <li><a href="#">Link</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <i class="icon-flipviewdown"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">One more separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#">Link</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <i class="icon-flipviewdown"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    </div>

    <div class="container-wrap">
            <div class="left-panelbar">
                <!--Sidebar content-->
                <div class="stacked-menus">
                    <div class="stacked-menus-items">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-page-outline"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            மென்யாப்பு
                        </span>
                    </div>
                    <div class="stacked-menus-items">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-other-user"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            மென்யாப்பு
                        </span>
                    </div>
                    <div class="stacked-menus-items">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-admin"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            உதவி
                        </span>
                    </div>
                    <div class="stacked-menus-items">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-like"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            யாப்பிலக்கணம்
                        </span>
                    </div>
                    <div class="stacked-menus-items">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-go-to-start"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            அசை
                        </span>
                    </div>
                    <div class="stacked-menus-items">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-flag-2"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            சீர்
                        </span>
                    </div>
                    <div class="stacked-menus-items">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-subscriptions-mirrored"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            தளை
                        </span>
                    </div>
                    <div class="stacked-menus-items">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-go-to-today"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            அடி
                        </span>
                    </div>
                    <div class="stacked-menus-items">
                        <span class="stacked-menu-items-icon">
                            <span class="glyph glyph-settings"></span>
                        </span>
                        <span class="stacked-menu-items-text">
                            தொடை
                        </span>
                    </div>
                </div>
                    
                <div id="bottom"></div>
            </div>
            <div class="right-panelbar">
                @RenderBody()
            </div>

        <!-- Le javascript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        @*<script src="~/Scripts/bootstrap.min.js"></script>*@
        <script>
            $(document).ready(function () {
                // $("#panelbar").kendoPanelBar({
                //     expandMode: "single"
                // });
            });
        </script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
