@{
    ViewBag.Title = "மென்யாப்பு";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MenYappu</title>
    @Styles.Render("~/Content/kendoui")

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/Landing/css/bootstrap.min.css" type="text/css">
    @Styles.Render("~/Content/prosody")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap")
    @Scripts.Render("~/Scripts/kendojs")
    @Scripts.Render("~/Scripts/toastrjs")
    @Scripts.Render("~/Scripts/blockuijs")
    @Scripts.Render("~/Scripts/parsleyjs")

    <script src="/Scripts/prosody/CookieService.js"></script>
    <script src="/Scripts/prosody/ProsodyResourceManager.js"></script>
    <script src="/Scripts/prosody/utilityfunctions.js"></script>
    <script src="/Scripts/prosody/ServiceBase.js"></script>
    <script src="/Scripts/prosody/ProsodyService.js"></script>
    <script src="/Scripts/prosody/QaService.js"></script>

    <script src="/Scripts/prosody/QuizManager.js"></script>
    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Landing/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/Landing/css/animate.min.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Landing/public/creative.css" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="~/Content/icons/favicon.ico">

</head>
<body id="page-top">
    <script type="text/x-kendo-template" id="landingTopNavTemplate">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="\#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            # var menYappu = ProsodyResourceManager.get("menYappu"); #
            <a class="navbar-brand page-scroll" href="/">#= menYappu #</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        # var aboutMenYappu = ProsodyResourceManager.get("aboutMenYappu"); #
        # var games = ProsodyResourceManager.get("games"); #
        # var prosody = ProsodyResourceManager.get("prosody"); var contact = ProsodyResourceManager.get("contact"); #
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/Home/About" data-localize="aboutMenYappu"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/Games/LetterTypeFinder" data-localize="games"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/ProsodyHelp/Introduction" data-localize="prosody"></a>
                </li>
                <li>
                    <a class="page-scroll" href="/Home/Contact" data-localize="contact"></a>
                </li>
                <li>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="dropdown">
                            <button id="language" class="btn btn-dropdown dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="language">
                                <li><a href="\#" data-value="en">English (English)</a></li>
                                <li><a href="\#" data-value="ta">தமிழ் (Tamil)</a></li>
                            </ul>
                        </div>
                    </form>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </script>
    <script type="text/x-kendo-template" id="landingHeaderTemplate">
        # var yourFavoriteTamilPortal = ProsodyResourceManager.get("yourFavoriteTamilPortal"); #
        # var improveKnowledge = ProsodyResourceManager.get("improveKnowledge"); var findOutMore = ProsodyResourceManager.get("findOutMore"); #
        <div class="header-content">
            <div class="header-content-inner">
                <h1>#= yourFavoriteTamilPortal #</h1>
                <hr>
                <p>#= improveKnowledge#</p>
                <a href="\#about" class="btn btn-primary btn-xl page-scroll">#= findOutMore #</a>
            </div>
        </div>
    </script>
    <script type="text/x-kendo-template" id="aboutSection">
            # var weGotWhatYouNeed = ProsodyResourceManager.get("weGotWhatYouNeed"); var menyappuHasAll = ProsodyResourceManager.get("menyappuHasAll");#
            # var startLearning = ProsodyResourceManager.get("startLearning"); #
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">#= weGotWhatYouNeed #</h2>
                        <hr class="light">
                        <p class="text-faded">#= menyappuHasAll #</p>

                        <div id="carous-ss-wrap" class="laptop-slider-wrapper">
                            <img class="laptop-slider-img" src="/Landing/public/img/laptop_blackbg.png" alt="">
                            <div id="carous-ss-inner" class="laptop-slider-inner">
                                <div class="fadeOut owl-carousel laptop-slider-inner-wrap" id="carous-ss">
                                    <div class="item">
                                        <img src="/Landing/public/img/laptopSlidesOpti/letters.jpg" alt="Slider Image">
                                    </div>
                                    <div class="item">
                                        <img src="/Landing/public/img/laptopSlidesOpti/menYappu.jpg" alt="Slider Image">
                                    </div>
                                    <div class="item">
                                        <img src="/Landing/public/img/laptopSlidesOpti/presentation.jpg" alt="Slider Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="\#about2" class="btn btn-default btn-xl page-scroll">#= startLearning #</a>
                    </div>
                </div>
            </div>

        </script>
    <script type="text/x-kendo-template" id="about2Section">
        # var menyappuAnEffort = ProsodyResourceManager.get("menyappuAnEffort"); #
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>#= menyappuAnEffort #</h1>
                    <!--<img class="img-responsive" src="public/img/laptop.png" alt="">-->
                    <div id="carous-ss-wrap" class="laptop-slider-wrapper">
                        <img class="laptop-slider-img" src="/Landing/public/img/laptop_blackbg.png" alt="">
                        <div id="carous-ss-inner" class="laptop-slider-inner">
                            <div class="fadeOut owl-carousel laptop-slider-inner-wrap" id="carous-ss">
                                <div class="item">
                                    <img src="/Landing/public/img/laptopSlidesOpti/letters.jpg" alt="Slider Image">
                                </div>
                                <div class="item">
                                    <img src="/Landing/public/img/laptopSlidesOpti/menYappu.jpg" alt="Slider Image">
                                </div>
                                <div class="item">
                                    <img src="/Landing/public/img/laptopSlidesOpti/presentation.jpg" alt="Slider Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </script>
<script type="text-x-kendo-template" id="servicesTemplate">
            <section id="services">
                # var servicesInMenyappu = ProsodyResourceManager.get("servicesInMenyappu"); #
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">#= servicesInMenyappu #</h2>
                            <hr class="primary">
                        </div>
                    </div>
                </div>
                <div class="container">
                    # var gameForKidsAndAdults = ProsodyResourceManager.get("gameForKidsAndAdults"); var gameForKidsAndAdultsDescription = ProsodyResourceManager.get("gameForKidsAndAdultsDescription"); #
                    # var understandingPoems = ProsodyResourceManager.get("understandingPoems"); var understandingPoemsDescription = ProsodyResourceManager.get("understandingPoemsDescription"); #
                    # var uptoDate = ProsodyResourceManager.get("uptoDate"); var uptoDateDescription = ProsodyResourceManager.get("uptoDateDescription"); #
                    # var madewithLoveAndPassion = ProsodyResourceManager.get("madewithLoveAndPassion"); var madewithLoveAndPassionDescription = ProsodyResourceManager.get("madewithLoveAndPassionDescription"); #
                    <div class="row">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box">
                                <i class="fa fa-4x fa-gamepad wow bounceIn text-primary"></i>
                                <h3>#= gameForKidsAndAdults #</h3>
                                <p class="text-muted">#= gameForKidsAndAdults #</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box">
                                <i class="fa fa-4x fa-music wow bounceIn text-primary" data-wow-delay=".1s"></i>
                                <h3>#= understandingPoems #</h3>
                                <p class="text-muted">#= understandingPoemsDescription #</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box">
                                <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                                <h3>#= uptoDate #</h3>
                                <p class="text-muted">#= uptoDate #</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box">
                                <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                                <h3>#= madewithLoveAndPassion #</h3>
                                <p class="text-muted">#= madewithLoveAndPassionDescription #</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    <section class="no-padding" id="portfolio">
        # var games = ProsodyResourceManager.get("games"); #
        # var letterTypeFinder = ProsodyResourceManager.get("letterTypeFinder"); #
        # var mathiraiCalculator = ProsodyResourceManager.get("mathiraiCalculator"); #
        # var syllableDivider = ProsodyResourceManager.get("syllableDivider"); #
        # var metricalFootFinder = ProsodyResourceManager.get("metricalFootFinder"); #
        # var linkageFinder = ProsodyResourceManager.get("linkageFinder"); #
        # var metricalLineMeasurer = ProsodyResourceManager.get("metricalLineMeasurer"); #
        # var rhymeAlliterationFinder = ProsodyResourceManager.get("rhymeAlliterationFinder"); #
        # var ornamentationFinder = ProsodyResourceManager.get("ornamentationFinder"); #
        # var soundMatcher = ProsodyResourceManager.get("soundMatcher"); #
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <a href="/Games/LetterTypeFinder" class="portfolio-box">
                        <img src="/Landing/img/games/letterTypeFinderGame.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    #= games #
                                </div>
                                <div class="project-name">
                                    #= letterTypeFinder #
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/Games/MathiraiCalculator" class="portfolio-box">
                        <img src="/Landing/img/games/mathiraiFinderGame.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    #= games #
                                </div>
                                <div class="project-name">
                                    #= mathiraiCalculator #
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/Games/AsaiDivider" class="portfolio-box">
                        <img src="/Landing/img/games/asaiDividerGame.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    #= games #
                                </div>
                                <div class="project-name">
                                    #= syllableDivider #
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <a href="/Games/SeerFinder" class="portfolio-box">
                        <img src="/Landing/img/games/seerDividerGame.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    #= games #
                                </div>
                                <div class="project-name">
                                    #= metricalFootFinder #
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/Games/ThalaiFinder" class="portfolio-box">
                        <img src="/Landing/img/games/thalaiFinderGame.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    #= games #
                                </div>
                                <div class="project-name">
                                    #= linkageFinder #
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/Games/AdiMeasurer" class="portfolio-box">
                        <img src="/Landing/img/games/adiMeasurerGame.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    #= games #
                                </div>
                                <div class="project-name">
                                    #= metricalLineMeasurer #
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <a href="/Games/ThodaiFinder" class="portfolio-box">
                        <img src="/Landing/img/games/thodaiFinderGame.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    #= games #
                                </div>
                                <div class="project-name">
                                    #= ornamentationFinder #
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/Games/OsaiMatcher" class="portfolio-box">
                        <img src="/Landing/img/games/osaiMatcherGame.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    #= games #
                                </div>
                                <div class="project-name">
                                    #= soundMatcher #
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <a href="/Games/Quiz" class="portfolio-box">
                        <img src="/Landing/img/games/quiz.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    #= games #
                                </div>
                                <div class="project-name">
                                    #= soundMatcher #
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        # var letsGetInTouch = ProsodyResourceManager.get("letsGetInTouch"); var contributeToMenyappu = ProsodyResourceManager.get("contributeToMenyappu"); #
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">#= letsGetInTouch #</h2>
                    <hr class="primary">
                    <p>#= contributeToMenyappu #</p>
                    <div class="text-center">
                        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>
                            <a href="\#">rajajahansi@gmail.com</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    </script>
    @{ Html.RenderPartial("_CommonKendoTemplates"); }
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
        <div class="container-fluid">
            <div id="landingTopNav"></div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div id="landingHeader"></div>
    </header>
    <section class="bg-primary" id="about"></section>
    <div id="services"></div>

        <!--The Owl Slider -->
        <script src="/Landing/js/owl.carousel.min.js">
        </script>
        <!-- Plugin JavaScript -->
        <script src="/Landing/js/jquery.easing.min.js"></script>
        <script src="/Landing/js/jquery.fittext.js"></script>
        <script src="/Landing/js/wow.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="/Landing/js/creative.js"></script>
        <script>
            $(document)
                .ready(function() {
                    var landingTopNavTemplate = kendo.template($("#landingTopNavTemplate").html());
                    $("#landingTopNav").append(landingTopNavTemplate({}));
                    var landingHeaderTemplate = kendo.template($("#landingHeaderTemplate").html());
                    $("#landingHeader").append(landingHeaderTemplate({}));
                    var aboutSection = kendo.template($("#aboutSection").html());
                    $("#about").append(aboutSection({}));
                    var menyappuAnEffort = ProsodyResourceManager.get("menyappuAnEffort");
                    $("#about2Header").append(menyappuAnEffort);
                    var servicesTemplate = kendo.template($("#servicesTemplate").html());
                    $("#services").append(servicesTemplate({}));
                    Utility.wireDropdownTooltipAndPopoverHandlers();
                    // Initialize WOW.js Scrolling Animations
                    new WOW().init();

                    $('#carous-ss').owlCarousel({
                        items: 1,
                        autoPlay: 3000,
                        nav: true,
                        navText: [
                            '<i class="fa fa-chevron-left fa-3x wow bounceIn" style="visibility: visible; animation-name: bounceIn;"></i>',
                            '<i class="fa fa-chevron-right fa-3x wow bounceIn" style="visibility: visible; animation-name: bounceIn;"></i>'
                        ],
                        margin: 10,
                        stagePadding: 0,
                        smartSpeed: 450
                    });
                });
        </script>
</body>
</html>



